@import "./variables";

//-----ALL MODALS BASE STYLE

.modal-content {
  background: linear-gradient(
    180deg,
    rgba(70, 60, 120, 0.75) 0%,
    rgba(20, 15, 40, 0.95) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: none;
  padding: 40px;
  color: $gold-main;
}

/* modal title */

.modal-title {
  text-align: center;
  color: $gold-main;
  font-size: 32px;
  margin-bottom: 40px;
  font-family: $font-heading;
}

/* input base */

.form-control.modal-input {
  background-color: transparent !important;
  border: none;
  border-bottom: $gold-main solid 1px;
  border-radius: 0;
  color: $gold-main !important;
}

.modal-input::placeholder {
  color: $gold-main;
  opacity: 0.7;
}

.form-control.modal-input:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  border-bottom: 2px solid $gold-main !important;
  color: $gold-main !important;
}

/* upload photo button */

.form-control[type="file"].file-input::-webkit-file-upload-button {
  background: $gold-main !important;
  color: #2b2150 !important;
  border: none !important;
  border-radius: 3px !important;
  padding: 0.55rem 1rem !important;
  margin-right: 1rem !important;
  font-weight: 600;
  cursor: pointer;
}

.form-control[type="file"].file-input::file-selector-button:hover {
  filter: brightness(1.05);
}

/* main button */

.modal-button {
  display: block;
  margin: 30px auto 10px auto;
  background: $gold-gradient;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  color: #2b2150;
  font-weight: 600;
}

/* link close */

.modal-close {
  color: $gold-main;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: right;
  margin-top: 10px;
}

.modal-link {
  color: $text-light;
  text-decoration: none;
}

.modal-link:hover {
  color: $gold-light;
}

.modal-close:hover {
  color: $gold-light;
}

.input-group-text {
  justify-content: center;
  border-radius: 0 !important;
}

.eye-div {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin-left: 6px;
  display: flex;
  align-items: center;
}

.eye-icon {
  color: #f0c36d;
  cursor: pointer;
  font-size: 0.9rem;
}

//set browser default autofill settings
.form-control.modal-input:-webkit-autofill,
.form-control.modal-input:-webkit-autofill:hover,
.form-control.modal-input:-webkit-autofill:focus,
.form-control.modal-input:-webkit-autofill:active {
  -webkit-text-fill-color: $gold-main !important;
  -webkit-box-shadow: 0 0 0 1000px rgba(20, 15, 40, 0.95) inset !important;
  box-shadow: 0 0 0 1000px rgba(20, 15, 40, 0.95) inset !important;
  border-bottom: 2px solid $gold-main !important;
  transition: background-color 9999s ease-in-out 0s;
}
