// ---------- COLORS
/* COLORS */

$space-dark: #040710;
$space-light: #7796ac;
$footer-dark: #1f1e3f;

$gold-main: #ebb55e;
$gold-light: #f8daa1;

$text-dark: #1f1e3f;
$text-light: #7796ac;

$pop-red: #ff5a7a;

/* FONTS */

$font-primary: "Poppins", sans-serif;
$font-heading: "Orbitron", sans-serif;

/* SIZES */

$logo-size: 500px;
$logo-size-mini: 50px;

/* SHADOW */

$shadow-soft: 0 3px 8px rgba(0, 0, 0, 0.3);
$shadow-gold: 0 3px 25px rgba(248, 219, 131, 0.333);

/* GOLD GRADIENT */

$gold-gradient: linear-gradient(180deg, #fff6b7, #f5c26b, #d89c2b, #a96b10);

/* BUTTON VARIANTS */

$success: #3ca17f;
$danger: $pop-red;
