@import "./variables";

body {
  min-height: 100vh;
  margin: 0;
  font-family: $font-primary;
  background-image: url("/src/assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
h2,
h3 {
  font-family: $font-heading;
  color: $gold-main;
}

.no-content-text {
  color: $space-light;
}

.my-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(31, 30, 63, 0.4) 0%,
    $footer-dark 80%
  );
}

.my-alert {
  font-size: 2rem;

  .my-alert button {
    font-size: 3rem;
  }
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  border: none;
}

.main-content {
  padding-bottom: 100px;
}

.logo-full {
  width: $logo-size;
}

.logo-mini {
  width: $logo-size-mini;
}

.profile-img-icon {
  width: 20px;
}

.avatar {
  padding: 3px;
  background: $gold-gradient;
  object-fit: cover;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.avatar-link:hover {
  color: $gold-light;
  box-shadow: $shadow-gold;
}

.cursor-pointer {
  cursor: pointer;
}

.fs-7 {
  font-size: 0.7rem;
}

.fs-8 {
  font-size: 0.5rem;
}

.mt-6 {
  margin-top: 100px !important;
}

.dropdown-menu {
  position: absolute !important;
  z-index: 1050;
}

.mini-img {
  width: 15px;
  height: 15px;
}

.badge-oro {
  background-color: #fce3bc !important;
  font-size: 0.6rem !important;
  border: none !important;
}

.icon-hover {
  color: $space-light;
}

.icon-hover.active {
  color: #000 !important;
  fill: #000 !important;
}

.nav-link:hover .icon-hover {
  color: #000 !important;
  fill: #000 !important;
}

.toggle-btn-custom.active .icon-hover {
  color: #000 !important;
  fill: #000 !important;
}

.toggle-btn-custom,
.nav-link {
  background-color: transparent !important;
}

// date input

input[type="date"],
input[type="datetime-local"] {
  &::-webkit-calendar-picker-indicator {
    filter: invert(75%) sepia(70%) saturate(150%) hue-rotate(10deg);
    cursor: pointer;
  }
}

//reting-stars

.star {
  margin-left: 2px;
  color: $gold-main;
  background: $gold-gradient;

  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 4px 4px $space-dark);
  .star svg {
    fill: transparent;
  }
}

.carousel-item {
  min-height: 650px;
}

.general-icon {
  margin-right: 0.3rem;
}

.pencil-btn {
  cursor: pointer;
  font-size: 1.5rem;
  &:hover {
    color: white;
  }
}

.join-btn:disabled {
  background: #6c757d !important;
  border-color: #6c757d !important;
  opacity: 0.7;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.event-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 0 0 12px;
}
