@import "../../styles/variables";

.my-nav {
  background: linear-gradient(180deg, #1f2147 0%, #141632 60%, #0b0c1a 100%);
  border: 0;
  padding: 10px 20px;

  .my-collapse .nav-link {
    font-weight: 500;
    margin: 0;

    background: linear-gradient(
      180deg,
      #fff3b0 0%,
      #f5c76a 40%,
      #c89b3c 70%,
      #a67c2d 100%
    );

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: all 0.25s ease;
  }

  .my-collapse .nav-link:hover {
    background: linear-gradient(180deg, #fff7c2, #ffd978);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  // ----active

  .my-collapse .nav-link.active {
    background: linear-gradient(180deg, #fff3b0 0%, #f5c76a 45%, #c89b3c 100%);

    color: #1a1c3f !important;
    -webkit-text-fill-color: #1a1c3f;

    border-radius: 12px;

    padding: 6px 18px;

    box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.4),
      0 2px 6px rgba(0, 0, 0, 0.25);
  }
  // ----dropdown

  .dropdown-menu {
    margin: 0.5em 1em;

    background: linear-gradient(
      178deg,
      rgba(245, 199, 106, 1) 0%,
      rgba(166, 124, 45, 1) 100%
    ) !important;

    border: none;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);

    .dropdown-item {
      background: none !important;
      padding-left: 1.5rem;

      color: $space-dark !important;
      -webkit-text-fill-color: $space-dark !important;

      font-weight: 500;

      &:hover {
        background: none !important;

        color: $text-dark !important;
        -webkit-text-fill-color: $text-dark !important;

        color: #1a1c3f !important;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      }
    }

    .dropdown-divider {
      margin: 0.5em 1rem;
    }
  }

  // ----icons

  .nav-icon {
    color: #f5c76a;
    font-size: 18px;
    transition: color 0.2s ease;
  }

  .nav-icon:hover {
    color: #fff7c2;
  }

  // ---toggle

  .navbar-toggler {
    border: none;
    box-shadow: none;
  }

  .navbar-toggler-icon {
    filter: invert(78%) sepia(47%) saturate(425%) hue-rotate(356deg)
      brightness(102%) contrast(92%);
  }
}
