
.landing-btn {
  color: #1f1e3f;
  width: 40%;
  background: linear-gradient(179deg, #ebb55e 0%, #f8daa1 80%);
    transition: all 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.landing-btn:hover {
  background: linear-gradient(179deg, #f5c06b 0%, #f8daa1 80%);
  color: #1f1e3f;
  transform: translateY(2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
