@import "../../styles/variables";

//---- LOGIN MODAL LAYOUT

.login-modal {

  .modal-content {
    max-width: 420px;
    margin: auto;
  }

  .login-field {
    margin-bottom: 25px;
  }

  .login-button {
    width: 60%;
    display: block;
    margin: 25px auto 10px auto;
  }

}
